html,body,.box{
  width:100%;
  height: 100%;
}
.box{
  display: flex;
  flex-direction:column;
  font-size:16px;
}
.header{
  height: .45rem;
  line-height: .45rem;
  display: flex;
  background: #ff552e;
  color:#fff;
  >span{
    position: relative;
    flex:1;
    text-align: center;
    &:nth-child(2){
      flex:2;
      height: .3rem;
      line-height: .3rem;
      margin-top:.06rem;
      background: #ff7759;
      color:#fff;
      text-align: center;
      >input{
        width:1rem;
        border:none;
        background: none;
      }
      input::-webkit-input-placeholder {color:#fff;}
      >i{
        margin-left:12px;
      }
    }
  }
}
.main{
  flex:1;
  overflow-y: scroll;
}
.list{
  ul{
    display: flex;
    flex-wrap:wrap;
    line-height: .3rem;
    margin-top:.1rem;
    >li{
      width:20%;
      text-align: center;
      display: flex;
      font-size:.14rem;
      flex-direction: column;
      >i{
        font-size:34px;
      }
      &:nth-child(odd){
         color:#69d69c;
      }
      &:nth-child(even){
        color:#fdbb38;
      }
    }
  }
}
.recruit{
  h4{
    height: .4rem;
    line-height: .4rem;
    color: #ff552e;
    text-indent: 10px;
    >b{
      top:.13rem;
      margin-left:.06rem;
      border-bottom-color: #ff552e;
    }
  }
}
.swiper-slide>em{
  font-size:.1rem;
  margin-left:20px;
  font-style: normal;
  border:1px solid red;
}
.swiper-slide>img{
  width:100%;
}
.news .swiper-slide{
  text-indent: .2rem;
}
.message{
  display: flex;
  flex-direction: column;
    div{
     span {
       display: inline-block;
        width:25%;
        height: .5rem;
        line-height: .5rem;
        text-align: center;
      }
      &:nth-child(2){
        background: #eee;
      }
    }
}